body {

background-color: darkgray

}

h1 {
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-family: 'Oswald', sans-serif;
}

.text {
	text-decoration: font-family: 'Oswald', sans-serif;
	color: red;
}

li:first-child {
	color: white;
}

.awesome{
border:7px solid;
}